.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 120px;
  background-color: rgb(219, 39, 119);
  color: white;
  margin-bottom: 60px;
}

header h1 {
  padding-top: 35px;
  font-size: 40px;
}

input {
  width: 50%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid rgb(219, 39, 119);
  margin-bottom: 40px;
}

#emoji {
  font-size: 25px;
  margin-bottom: 50px;
  color: rgb(219, 39, 119);
}

span {
  padding: 20px;
  font-size: 25px;
  border: 1px solid rgb(219, 39, 119);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
